.button {
    -fx-background-color: #0078d4;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 10, 0, 0, 0);
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-text-fill: #fff;
    -fx-padding: 8px 16px;
    -fx-pref-height: 40px;
}


.button:hover {
    -fx-background-color: rgba(0, 120, 212, 0.8);
    -fx-text-fill: white;
}

.button SVGPath {
    -fx-fill: #fff;
}


.text-field {
    -fx-background-color: #fff !important;
    -fx-background-insets: 0, 1 1 1 1 !important;
    -fx-background-radius: 6 !important;
    -fx-border-radius: 6 !important;
    -fx-border-color: #D9DEE2;
    -fx-padding: 10;
}


.text-field:focused {
    -fx-border-color: rgba(0, 120, 212, 0.4) !important;
    -fx-border-width: 2px 2px 2px 2px !important;
}
.k-text-color{
    -fx-text-fill: #0078d4;
}

.bg-primary-20{
    -fx-background-color: rgba(0, 120, 212, 0.2);
}


.error-color {
    -fx-text-fill: #e53935;
}

.error-bg-color {
    -fx-background-color: #e53935;
}

.toggle-btn {
    -fx-background-color: transparent;
    -fx-text-fill: #242424;
    -fx-padding: 12px 40px 12px 40px;
}

.toggle-btn:selected {
    -fx-background-color: rgba(0, 120, 212, 0.1);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.01), 0, 3, 3, 3);
    -fx-text-fill:  #0078d4;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}

.toggle-btn:selected SVGPath {
    -fx-stroke:  #0078d4;
}

.toggle-btn:selected .custom-svg {
    -fx-stroke: #fff;
}

.toggle-btn:hover {
    -fx-background-color: rgba(0, 120, 212, 0.1);
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.01), 0, 3, 3, 3);
    -fx-text-fill:  #0078d4;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
}


.toggle-btn:hover .icon {
    -fx-icon-color:  #0078d4;
}

.toggle-btn:selected .icon {
    -fx-icon-color:  #0078d4;
}


.toggle-btn SVGPath {
    -fx-stroke: #797979;
}

.toggle-btn:hover SVGPath {
    -fx-stroke:  #0078d4;
}


.card-dash{
    -fx-background-color:  #FFFFFF;
    -fx-border-radius: 10px;
    -fx-background-radius: 10px;
    -fx-effect:  dropshadow(three-pass-box, rgba(0,0,0,0.05), 10, 0, 0, 0);
}

.combo-style{
    -fx-background-color:  #fff;
    -fx-background-insets: 0, 1 1 1 1 !important ;
    -fx-background-radius: 6 !important ;
    -fx-border-radius: 6 !important ;
    -fx-border-color:  #D9DEE2 !important;
    -fx-padding: 5;
}

.combo-style:focused{
    -fx-border-color: #D9DEE2 !important ;
    -fx-border-width: 2px 2px  2px 2px !important;
}
.button-secondary {
    -fx-background-color: #E30425 !important;
    -fx-effect: dropshadow(three-pass-box, rgba(0, 0, 0, 0.12), 10, 0, 0, 0);
    -fx-text-fill: #fff;
    -fx-padding: 8px 16px;
}

.check-box .box {
    -fx-background-color: white;
    -fx-border-color: grey;
    -fx-border-radius: 3px;
}

.check-box:selected .mark {
    -fx-background-color: white;
}

.check-box:selected .box {
    -fx-background-color: #0078d4;
}

.view-more {
    -fx-background-color: transparent;
}

.view-more .arrow-button .arrow {
    -fx-shape: none;
    -fx-fill: transparent;
    -fx-background-color: transparent;
}

.tags{
    -fx-background-color: rgba(63, 152, 79, 0.25);
    -fx-border-radius: 32px;
    -fx-background-radius: 32px;
}